<div class="container">
<h1>Edit <%= @cat.name %> </h1>

<%= form_for @cat do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name%>
    </div>
    
    <div>
        <%= f.label :image_uri %>
        <%= f.text_field :image_uri %>
    </div>

    <%= f.submit "Add New Cat!" %>

<% end %>

</div>